<div  class="img">
<img src="../basquetealpha.jpg" alt="..." class="img-thumbnail rounded imagem">
</div>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Criamos oportunidades ao colocar o mundo em movimento</h1>
          <p class="lead">Quando as pessoas têm mobilidade, tudo é possível. As oportunidades surgem, as portas se abrem e os sonhos se tornam realidade. Essa tecnologia, que começou como uma forma de pedir uma viagem com o toque de um botão, já possibilitou bilhões de conexões entre pessoas no mundo todo.</p>
        </div>
      </div>