<div class="jumbotron text-center mh-150 text-white" id="banner">
    <h1 class="display-3">Um app para jogadores</h1>
    <p class="lead">Ache seu jogo agora! </p>
    <hr class="my-2">
    <p>Mais</p>
    <p class="lead">
    </p>
</div>

<div class="container-fluid mb-5">
    <h2 class="text-center mb-5">Conheca as features do aplicativo:</h2>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title"><i class="fas fa-map"></i></h5>
                          <p class="card-text">Pesquise por todas as quadras da sua cidades</p>
                          <a href="#" class="btn btn-primary">Visitar</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <div>
                         <h5 class="card-title"><i class="fas fa-basketball-ball"></i></h5>
                         <p class="card-text">Procure por jogos ativos nas quadras</p>
                         <a href="#" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                 <div class="card text-center" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-history"></i></h5>
                        <p class="card-text">Pesquise por todas as quadras da sua cidades</p>
                        <a href="#" class="btn btn-primary">Visitar</a>
                      </div>
                 </div>
            </div>                 
        </div>
    </div>
</div>
<div class="container-fluid">  
</div>


<footer class="page-footer font-small blue pt-4" class="footer">
    <div  class="color">
          
           <div class="container-fluid text-center text-md-left">
             <div class="row">
               <div class="col-md-6 mt-md-0 mt-3">
                 <h5 class="text-uppercase">BasqueteApp</h5>
                 <p>Baixe o aplicativo agora!</p>
         
               </div>     
               <hr class="clearfix w-100 d-md-none pb-3">
               <div class="col-md-3 mb-md-0 mb-3">
                 <h5 class="text-uppercase">Quem somos</h5>
         
                 <ul class="lista">
                   <li>
                     <a href="#!" style="color: white" [routerLink]="'/faq'">FAQ</a>
                   </li>
                   <li>
                     <a href="#!" style="color: white" [routerLink]="'/contato'">Contato</a>
                   </li>
                   <li>
                      <a href="#!" style="color: white" [routerLink]="'/quem-somos'">Sobre nós</a>
                    </li>
                   
                 </ul>
         
               </div>            
             </div>     
           </div>          
       </div>     
         </footer>    
   